<?xml version="1.0" ?>

<launch>

    <arg name="sim" default="True" />
    <arg name="veh" default="boat1" />

    <include file="$(find subt_rl)/launch/pcToLaser_240_duckieboat.launch">
        <arg name="veh" value="$(arg veh)" />
    </include>
    <group ns="$(arg veh)">
        <node pkg="subt_rl" type="teleop.py" name="teleop" />
        <node pkg="subt_rl" type="run_rdpg.py" name="run_rdpg" output="screen">
            <param name="model" value="subt_rl495.ckpt-1037" />
            <param name="sim" value="$(arg sim)" />
        </node>
    </group>

</launch>
