<?xml version="1.0" ?>

<launch>

    <arg name="veh" default="duckie_alpha" />

    <node ns="$(arg veh)" pkg="subt_rl" type="torch_rdpg_forward_duckieboat.py" name="run_rdpg_duckieboat" output="screen">
        <param name="model" value="s1536_f1869509.pth" />
        
        <remap from="laser" to="RL/scan" />
        <remap from="odom" to="p3d_odom" />
        <remap from="cmd_vel" to="cmd_vel" />
        <remap from="joy" to="/joy" />
    </node>

</launch>