<?xml version="1.0" ?>

<launch>

    <arg name="veh" default="jackal1" />

    <include file="$(find subt_rl)/launch/pcToLaser_240.launch">
        <arg name="veh" value="$(arg veh)" />
    </include>


    <node ns="$(arg veh)" pkg="subt_rl" type="goal_nav.py" name="goal_nav_rl" output="screen">
        <param name="frame" value="map" />

        <remap from="goal_in" to="/move_base_simple/goal" />
        <remap from="laser_in" to="RL/scan" />
        <remap from="odom_in" to="/slam_pose" />
        <remap from="joy" to="/bluetooth_teleop/joy" />
        <remap from="cmd_out" to="/jackal_velocity_controller/cmd_vel" />
    </node>

</launch>