<?xml version="1.0"?>

<launch>

    <arg name="veh" default="husky1" />
    <arg name="cmd" default="husky_velocity_controller/cmd_vel" />
    <arg name="joy" default="joy_teleop/joy" />

    <include file="$(find subt_rl)/launch/pcToLaser_240.launch">
        <arg name="veh" value="$(arg veh)" />
    </include>

    <group ns="$(arg veh)">

        <node pkg="subt_rl" type="goal_nav_tf_anchor.py" name="goal_nav_rl" output="screen">

            <remap from="goal_in" to="best_swanchor" />
            <remap from="laser_in" to="RL/scan" />
            <remap from="joy" to="$(arg joy)" />
            <remap from="cmd_out" to="$(arg cmd)" />
        </node>

    </group>


</launch>